
<!doctype html>
<html>
  <head>
    <title>_stylecoeur</title>
    <%= partial '/partials/head' %>
  </head>
  <body class="">

    <div class="_main">
      <%= yield %>
    </div>

  </body>
</html>
