---
layout: landing
---

<div class="index _center _margin-center  _width-content-max" id="landing" markdown="1">


  <div class="index-intro">

    <div class="_align-vertically _size-vheight" data-vheight="50">
      <div class="_logo">
        <%= partial '/partials/logo' %>
      </div>
    </div>


    <div class="_align-vertically _size-vheight" data-vheight="50">
      <h2 class="index-date _font-headline">06.01.2018</h2>

      <h2 class="index-intro _font-headline">SAVE THE DATE.</h2>

      <div class="_fb">
        <a target="_blank" href="https://www.facebook.com/events/123898051592997/">facebook</a></div>

      <div class="index-spicy _font-cursive">Spicy &amp; Delicious.
      </div>
    </div>



  </div>


</div>

